#particles-js{
    background:#FAFAFA;
    height: 3000px;
    width: 100%;
    z-index: -1;
}

#wrapper{
    position: relative;
}



nav{
    background: #FAFAFA;
    border-bottom: 1px solid #1CBCD7;

}



#brand, .link{
    color: #303C41;
    font-size: 30px;
    -webkit-transition: all .5s ease-in-out;

}

.link:hover{
    color: #1BA9B2;
    font-size:40px;
    -webkit-transition: all .5s ease-in-out;
    text-decoration: none;
}

h1{
    font-size: 60px;
}

#competences{
    background: #FAFAFA;
    border: 1px solid  #1CBCD7;


}

.svg{
    height: 250px;
}

.svg:hover{
    height:275px;
    -webkit-transition: all .5s ease-in-out;

}


.footerBut{
    height: 100px;
}

.border-right {
    border-right: 1px solid black;
}










footer{
    height: 150px;
    background: #303C41;
}