#particles-js{
    background:#FAFAFA;
    z-index: -1;
    height: 4500px;
}

#wrapper{
    position: relative;
}

#burger{
    font-size:30px;
}

nav{
    background: #FAFAFA;
    border-bottom: 1px solid #1CBCD7;

}



#brand, .link{
    color: #303C41;
    font-size: 30px;
    -webkit-transition: all .5s ease-in-out;
    font-family: 'Raleway', sans-serif;

}

.link:hover{
    color: #1BA9B2;
    font-size:40px;
    -webkit-transition: all .5s ease-in-out;
    text-decoration: none;
}

h1{
    font-size: 60px;
    color:#1BA9B2;
    font-family: 'Montserrat', sans-serif;
}

h2{

    font-family: 'Raleway', sans-serif;
}

#profile{
    height: 350px;
    border: 2px solid  #1CBCD7;
}

.box{
    background: #FAFAFA;
    border: 1px solid  #1CBCD7;


}

.svg{
    height: 250px;
}

.svg:hover{
    height:275px;
    -webkit-transition: all .5s ease-in-out;

}

.xp-box{
    background: #FAFAFA;
    border: 1px solid  #1CBCD7;
}


i{
    font-size: 50px;
    color: #1CBCD7;
}

.footerBut{
    height: 50px;
}

.bordure-img {
    border-right: 3px solid #1CBCD7;
}

.bordure-right {
    border-right: 3px solid #1CBCD7;
}

.bordure-top{
    border-top: 3px solid #1CBCD7 ;
}

.bordure-bot{
    border-bottom: 3px solid #1CBCD7 ;
}

label{
    font-family: 'Raleway', sans-serif;

}

#bouton{
    color:#1BA9B2;
}

.mentions * {
    color:#1BA9B2;
    font-family: 'Raleway', sans-serif;
}

.mentions a {
    text-decoration: none;
}

footer{
    
    background: #303C41;
}


@media screen and (max-width: 640px) {
    #particles-js{
        height: 6700px;
    }

    .bordure-img{
        border-right: none;
    }
  }